<h1 class="text-xl">Events Page</h1>

<!-- TODO: Style this page -->

<header class="flex items-center space-between">
    <h1 class="text-4xl">Events</h1>

    <a href="/admin/events/new" class="flex items-center gap-2">
        <span class="material-icons-outlined">add</span>
        Create
    </a>
</header>

<section class="flex flex-col">
    {{each days}}
    <div class="">
        <h2>Day {{this.day}}</h2>
        <div class="">
            {{each this.events}}
            <div class="">
                <a href="/admin/events/{{this.id}}">{{this.name}}</a>
                <span>{{this.speaker}}</span>
                <span>{{this.location}}</span>
                <span>{{this.time}}</span>

                <div class="flex items-center">
                    <form action="/admin/events/{{this.id}}/edit" method="post">
                        <button type="submit">
                            <span class="material-icons-outlined">pencil</span>
                        </button>
                    </form>

                    <form action="/admin/events/{{this.id}}/delete" method="post">
                        <button type="submit">
                            <span class="material-icons-outlined">bin</span>
                        </button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</section>