<header
  class='flex items-center justify-between py-6 px-6 mx-auto max-w-screen-2xl'
>
  <h1 class='text-4xl'>Partners</h1>

  <a
    href='/admin/partners/new'
    class='flex items-center gap-2 px-4 py-2 rounded-md bg-green-600 text-gray-100'
  >
    <span class='material-symbols-outlined'>
      add
    </span>
    Create
  </a>
</header>

<section class='flex flex-col max-w-screen-2xl mx-auto p-6'>

  {{#each partners}}
    <div class='flex flex-col mb-2'>
      <span>{{this.current_location}}</span>
      <div
        class='px-2 py-1 flex items-center justify-between border border-gray-800'
      >
        <div class='flex items-center gap-2'>
          <a
            href='/admin/partners/{{this.username}}'
            class='font-bold hover:underline'
          >{{this.name}}</a>
          |
          <span>{{this.field_of_study_work_research}}</span>
          |
          <span>{{this.interests}}</span>
        </div>

        <div class='flex items-center gap-2 text-gray-50'>

          <a
            href='/admin/partners/{{this.username}}/edit'
            type='submit'
            class='flex items-center justify-center h-8 w-8 bg-orange-500 rounded-md'
          >
            <span class='material-symbols-outlined'>edit</span>
          </a>

          <form
            action='/admin/partners/{{this.username}}/delete'
            method='post'
            class='flex items-center justify-center h-8 w-8'
          >
            <button
              type='submit'
              class='flex items-center justify-center h-8 w-8 bg-red-400 rounded-md cursor-pointer'
              onclick="return confirm('Are you sure you want to delete partner {{this.username}}?')"
            >
              <span class='material-symbols-outlined'>delete</span>
            </button>
          </form>

        </div>
      </div>
    </div>
  {{/each}}

</section>