<section class="flex flex-col max-w-screen-2xl mx-auto p-6">

    <div class="flex items-center justify-between gap-6 mb-2">
        <h2 class="grow text-3xl border-b-2 border-slate-800">Partners</h2>

        <a href="/admin/partners/create"
            class="flex items-center gap-2 px-4 py-2 rounded-md bg-green-600 text-gray-100">
            <span class="material-symbols-outlined">
                add
            </span>
            Create
        </a>
    </div>

    {{#each partners}}
    <div class="flex flex-col mb-2">
        <div class="px-2 py-1 flex items-center justify-between border  border-gray-800">
            <div class="flex items-center gap-2">
                <a href="/admin/partners/{{this.participant_id}}" class="font-bold hover:underline">{{this.name}}</a> |
                <span>{{this.building_and_room}}</span> |
                <span>{{this.company}}</span>
            </div>
            <div class="flex items-center gap-2 text-gray-50">
                <a href="/admin/partners/{{this.participant_id}}/edit" type="submit"
                    class="flex items-center justify-center h-8 w-8 bg-orange-500 rounded-md">
                    <span class="material-symbols-outlined">edit</span>
                </a>
                <form action="/admin/partners/{{this.participant_id}}/delete" method="post"
                    class="flex items-center justify-center h-8 w-8">
                    <button type="submit"
                        class="flex items-center justify-center h-8 w-8 bg-red-400 rounded-md cursor-pointer">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</section>